################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto3Ed/.vs/Projeto3Ed.slnx
/Projeto3Ed/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Projeto3Ed/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Projeto3Ed/obj/Debug/Projeto3Ed.csproj.CoreCompileInputs.cache
/Projeto3Ed/obj/Debug/Projeto3Ed.csproj.FileListAbsolute.txt
/Projeto3Ed/obj/Debug/Projeto3Ed.csproj.GenerateResource.cache
